* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #9e6d18;
  --color-2: #ffc259;
  --color-3: #ebaa3b;
  --color-4: #09519e;
  --color-5: #3b90eb;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 10px;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 80%;
  width: 100%;
  border: Green Solid 5px;
  padding: 10px;
  gap: 20px;
}

.container__tableClient {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: red Solid 1px;

  width: 900px;
  min-height: 300px;
}
.container__formulaire {
  border: brown Solid 1px;
  width: 900px;
  min-height: 300px;
  display: flex;
}

.container__formulaire_form {
  border: Green Solid 1px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.container__formulaire_button {
  border: Green Solid 1px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
}

.container__formulaire_button button {
  width: 100px;
  height: 40px;
}

.container__formulaire_form label {
  background-color: var(--color-4);
  border-radius: 5px;
  display: inline-block;
  width: 150px;
  font-family: banhnSchrift, serif;
  font-size: clamp(5px, 1vw, 20px);
  padding-left: 5px;
}

.container__formulaire_form input {
  background-color: var(--color-5);
  font-family: banhnSchrift, serif;
  font-size: clamp(5px, 1vw, 20px);
}

table {
  border: 1px solid var(--color-4);
  border-radius: 5px;
}

table:hover {
  cursor: pointer;
}

th {
  background-color: var(--color-4);
  font-size: clamp(10px, 2vw, 20px);
  height: 3vh;
  font-family: teamWorkItalic, serif;
  color: var(--color-3);
}

.column {
  font-size: clamp(5px, 1vw, 20px);
}

td input {
  width: 100%;
  height: 2vw;
  font-weight: 900;
  text-align: center;
  background-color: var(--color-5);
  padding: 5px;
  text-overflow: ellipsis;
  font-family: banhnSchrift, serif;
  color: var(--color-3);
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:hover {
  cursor: pointer;
}

#col_firstname {
  width: 4vw;
  min-width: 150px;
}
#col_lastname {
  width: 4vw;
  min-width: 150px;
}
#col_email {
  width: 4vw;
  min-width: 150px;
}
#col_phone_number {
  width: 4vw;
  min-width: 150px;
}
#col_siret {
  width: 4vw;
  min-width: 150px;
}
#col_adress {
  width: 4vw;
  min-width: 150px;
}
