* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #9e6d18;
  --color-2: #ffc259;
  --color-3: #ebaa3b;
  --color-4: #09519e;
  --color-5: #3b90eb;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  font-size: 10px;
  gap: 20px;

  background: linear-gradient(
    to right,
    #85d8ce,
    #085078
  );

}

header {
  width: 100%;
  /* Border: Green Solid 1px; */
  margin: 5px;
}
.container_header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  /* Border: red Solid 5px; */
}

.container_header h1 {
  /* border: Green Solid 1px; */
  font-size: calc(4vw + 5px);
  color: var(--color-4);
  font-family: teamWorkItalic, serif;
}

.container_header_connexion {
  /* border: black Solid 1px; */
  padding: 5px;
  border-radius: 5px;
}

.container_header_connexion label {
  font-size: 1vw;
}

.container_header_connexion input {
  height: 30px;
}
.container_header_connexion form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form_group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: calc(2vw + 5px);
}

.container_header_logo img {
  width: calc(20vw + 5px);
}

main {
  /* border: orangered Solid 1px; */
  width: 90%;
  position: relative;
}

.container_main {
  /* border: Green Solid 1px; */
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_main_link,
.container_main_charts {
  /* Border: red Solid 1px; */
  height: 90%;
  width: 50%;
  margin: 10px;
  
}



.container_main_link {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.container_main_link_btn {
  width: 40%;
  height: calc(10vw + 5px);

  border: none;
  border-radius: 10px;
  background-color: var(--color-4);
  color: var(--color-1);
  font-family: banhnSchrift, serif;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.container_main_link_btn a {
  position: relative;
  text-decoration: none;
  color: var(--color-1);
  font-size: clamp(5px, 5vw, 50px);
}

.container_main_link_btn a:hover {
  color: var(--color-3);
}

.container_main_link_btn a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background-color: var(--color-3);
  width: 100%;
  height: 3px;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}
.container_main_link_btn a:hover::after {
  transform: scale(1);
}

.charts_bargraph {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  Border: Green Solid 1px;
}

#chartBarGraph{
  min-height: 250px;
  min-width: 350px;
  height: 100%;
  /* Border: Green Solid 1px; */
}


@media screen and (max-width: 1600px) {
  .container_header {
    display: flex;
    flex-direction: column-reverse;
  }
  .container_main {
    flex-direction: column;
  }
  .container_main_link,
  .container_main_charts {

    width: 100%;
    /* Border: red Solid 1px; */
  }
  .container_main_link_btn {
    /* margin-top: 50px; */

    width: 30%;
    height: calc(15vw + 5px);
  }
}
