table {
    border: 1px solid var(--color-4);
    border-radius: 5px;
    width: 100%;
  }
  
  table:hover {
    cursor: pointer;
    width: 100%;
  }
  
  th {
    background-color: var(--color-4);
    font-family: teamWorkItalic, serif;
    color: var(--color-3);
    height: 30px;
  }
  
  .column, .column_form {
    font-size: clamp(5px, 2vw, 15px);
  }
  
  td input {
    width: 100%;
    height: 2vw;
    font-weight: 900;
    text-align: center;
    background-color: var(--color-5);
    padding: 5px;
    text-overflow: ellipsis;
    font-family: banhnSchrift, serif;
    color: var(--color-3);
  }
  
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  input:hover {
    cursor: pointer;
  }
  
  .column:nth-child(1) {
    width: 8%;
  }
  .column:nth-child(2) {
    width: 8%;
  }